.DS_Store
*.swp
build
.vagrant
chef/vendor
.gradle
out
*.iml
*.ipr
*.iws
*.lock
chef/cookbooks/consent_service/files/default/consent_service-standalone.jar
chef/cookbooks/consent_service/files/default/consent.yaml
